*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9ddbf1;
}
.container {
  width: 300px;
  height: 340px;
  background-color: #2e1919;
    border-radius: 1em;
    overflow: hidden;
    font-family: sans-serif;
    background: white;
    pointer-events: none;
    margin: auto;
    
  }
  h1{
    font-size: 1.2rem;
  }
  #header {
    background-color: beige;
    height: 12%;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1A1A1A;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }

  
  
  .palette {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 1rem;
    overflow: hidden;
    pointer-events: auto;
  }
  
  .palette:hover > #color-code {
    opacity: 0;
  }
  
  .color {
    position: absolute;
    width: 300px;
    height: 300px;
    transform-origin: center;
    transition: 0.3s ease-in-out;
    box-sizing: inline-block;
    display: flex;
    align-items:end;
    justify-content: center;
  }
  .color:hover span{
    color: #fff;
  }
  .color span {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
  span{
    color: #fff;
  }
  #color1 {
    background: #fff;
    rotate: 45deg;
    translate: 212.13px;
    outline: 0 solid #fff;
    z-index: 9;
   background-image:url(canva-removebg-preview.png);
    background-image:url(3.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #color1:hover {
    translate: 0 0;
    rotate: 0deg;
    z-index: 99;
    outline: 20px solid #fff;
  }
  
  #color2 {
    background: #30a8ff;
    rotate: 45deg;
    translate: 0 212.13px;
    outline: 0 solid #30a8ff;
    z-index: 9;
    background-image:url(2.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #color2:hover {
    translate: 0 0;
    rotate: 0deg;
    z-index: 99;
    outline: 20px solid #30a8ff;
  }
  
 
  
  #color3 {
    background: #8c00b4;
    rotate: 45deg;
    translate: -212.13px 0;
    outline: 0 solid #8c00b4;
    z-index: 9;
    background-image:url(1.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #color3:hover {
    translate: 0 0;
    rotate: 0deg;
    z-index: 99;
    outline: 20px solid #8c00b4;
  }
  
  #color4 {
    background:#000;
    rotate: 45deg;
    translate: 0 -212.13px;
    outline: 0 solid #000;
    z-index: 9;
    background-image:url(4.png);
    background-repeat: no-repeat;
    background-position:  center;
  }
  
  #color4:hover {
    translate: 0 0;
    rotate: 0deg;
    z-index: 99;
    outline: 20px solid #0000;
  }
  
  #color-code {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    translate: 130px 130px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 199;
    opacity: 1;
    transition: 0.3s ease-in-out;
  }
  
  #color-code-bg {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    filter: blur(10px);
  }
  
  #color-code-text {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #color-code-text::after {
    content: "V2";
    font-weight: 600;
    font-family: sans-serif;
    color: #1a1a1a;
  }
  
